.container{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 320px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 20px;

}
.box{
    height: 200px;
    width: 320px;
    border: 1px solid hotpink;
    box-shadow: 10px 10px gainsboro;

} 
.box:nth-of-type(2){
    box-shadow: 10px 10px rgb(216, 35, 35);
}
.box:nth-of-type(3){
    box-shadow: 10px 10px rgb(144, 222, 18);
}
.box:nth-of-type(4){
    box-shadow: 10px 10px rgb(19, 229, 124);
}
.box:nth-of-type(5){
    box-shadow: 10px 10px rgb(241, 16, 185);
}