.container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

}
.card{
    padding: 25px 12px;
    margin: 25px 12px;
    background-color: seashell;
}
.card-bottom{
    /*box-shadow: 6px 6px 10px skyblue; shadow on bottom outside*/
    box-shadow: inset 6px 6px 10px skyblue; /*shadow on bottom inside*/ 
}
.card-top{
    box-shadow: -6px -7px 5px 5px rgba(70, 170, 170, 0.2);
    box-shadow: 15px 10px 2px blue, 20px 25px red;
}
.card-top{
    box-shadow: 5px 5px 2px rgb(156, 103, 103,);
    box-shadow: 15px 10px 2px rgb(156, 103, 103,);
}    
