.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-row-gap: 40px;
    grid-column-gap: 20px;
}
.box{
    height: 200px;
    border: 1px solid gray;
    box-shadow: 10px 10px red;
}
.box:nth-of-type(2){
    box-shadow: 10px 10px rgb(183, 255, 0);
}
.box:nth-of-type(3){
    box-shadow: 10px 10px rgb(0, 255, 255);
}
.box:nth-of-type(4){
    box-shadow: 10px 10px rgb(55, 0, 255);
}
.box:nth-of-type(5){
    box-shadow: 10px 10px rgb(255, 0, 251);
}
.box:nth-of-type(6){
    box-shadow: 10px 10px rgb(8, 2, 2);
}